<h1>Students</h1>

<table>
  <thead>
  <% @dis_arr.each do |x|%>
  	<th><%= x.capitalize %></th>
  	<% end %>
  </thead>

  <tbody>
  	<% if params[:sc] == 'true' %>
    <% @test1.each do |key,value| %>
    <% value.each do |k,v| %>
      <tr>
     <% @dis_arr.each do|x| %>
        <td><%= k[x] %></td>
     <% end %>
     </tr>
     <% end %>
     <tr>
     <td>Change</td>
     <% if @dis_arr.include? 'maths'%>
     <td><%= if value[1].nil? 
        ((value[0]['maths']).abs*100)/value[0]['maths'] 
      else 
        ((value[0]['maths']-value[1]['maths']).abs*100)/value[0]['maths']
      end%></td>
      <% end %>
      <% if @dis_arr.include? 'physics'%>
      <td><%= if value[1].nil? 
        ((value[0]['physics']).abs*100)/value[0]['physics'] 
      else 
        ((value[0]['physics']-value[1]['physics']).abs*100)/value[0]['physics']
      end%></td>
      <% end %>
      <% if @dis_arr.include? 'physics'%>
      <td>
      <%= if value[1].nil? 
        ((value[0]['chemistry']).abs*100)/value[0]['chemistry'] 
      else 
        ((value[0]['chemistry']-value[1]['chemistry']).abs*100)/value[0]['chemistry']
      end%>
      </td>
      <% end %>
     </tr>
     <% if params[:t] == 'true' %>
     <tr>
     <td>Total</td>
     <td><%= if value[1].nil? 
        value[0]['maths']
      else 
        value[0]['maths']+value[1]['maths']
      end %></td>
      <td><%= if value[1].nil? 
        value[0]['physics']
      else 
        value[0]['physics']+value[1]['physics']
      end %></td>
      <td>
      <%= if value[1].nil? 
        value[0]['chemistry']
      else 
        value[0]['chemistry']+value[1]['chemistry']
      end %>
      </td>
     </tr>
     <% end %>
    <% end %>
    <%else%>
    	<% @test1.each do |key,value| %>
    	<tr>
    		<% @dis_arr.each do|x| %>
		        <td><%= key[x] %></td>
		    <% end %>
    	</tr>
    <% end %>
    <% end %>
  </tbody>
</table>